<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gitstat</title>
    <link rel="stylesheet" href="bulma.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="section">
        <div class="container is-fluid">
            <h1 class="title">Gitstat</h1>
            <p></p>
        </div>

            <table class="table is-hoverable">
                <thead>
                    <tr class="table-head-row">
                    </tr>
                </thead>
                <tbody class="table-body">
                </tbody>
            </table>

    </section>


    <script src="index.js"></script>
</body>

</html>